<%= link_to "home", root_url %>
<h1> All Posts </h1>


<% @posts.reverse_each do |post| %>

  <%= post.name %>
  <br>
  <%= post.body %>
  <br>
  <% if logged_in? %>
    <%= "written by: #{post.user.name}" %>
    <br>
    <%else%>
    <%= "Anonymous" %>
  <% end %>

  <% if logged_in? && post.user_id == current_user.id %>
    <%= link_to "delete", post, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  <p> ----------------------------------------------------------- </p>
<% end %>
