<h1> Create Account </h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label "name" %>
  <%= f.text_field :name %>
    <br>
  <%= f.label "email" %>
  <%= f.email_field :email %>
    <br>
  <%= f.label "password" %>
  <%= f.password_field :password %>
    <br>
  <%= f.label "confirm password" %>
  <%= f.password_field :password_confirmation %>
    <br>
  <%= f.submit "Create Account" %>
<% end %>
