<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="left">
        <li> <h1> Members Only! </h1> </li>
        <li> <%= link_to "See what members are saying...", posts_url %> </li>
      </ul>

      <% if logged_in? %>
      <ul class="right">
        <li> <%= "You are logged in as #{current_user.name}!" %> </li>
        <li>  <%= link_to "Profile", current_user %> </li>
        <li> <%= link_to "Log Out", logout_path, method: :delete %> </li>
      </ul>
      <% end %>
    </header>
    <div class="main-container">
      <% flash.each do |name, message| %>
        <div class="<%=name%>"> <%= message %> </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
