<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "View All Posts", posts_url %>

    <% if logged_in? %>
      <%= link_to "Profile", current_user %>
      <%= "You are logged in as #{current_user.name}" %>
      <%= link_to "Log Out", logout_path, method: :delete %>
    <% end %>
    <% flash.each do |name, message| %>
      <div class="<%=name%>"> <%= message %> </div>
    <% end %>
    <%= yield %>
  </body>
</html>
